body{background-color: white;}
h1{font-size: 30px; color:lightblue;}
#foto-body{width: 40%; height: 40%;}
#icono-contacto{
    position: fixed;
    bottom: 30px;
    right: 20px;
}
menu{
    list-style-type: none;
}
menu > a > li{
    display: inline;
    color: snow
}
#logo-header{
    width: 5%;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: snow;
}
@media screen and (min-width: 480px) {
    body{
        background-color: snow;
    }
}
